.signup form{
    background:black;
    width:500px;
    height:fit-content;
    padding:40px;
    border-radius:50px;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    transform:translate(0,30px);
    text-align: center;
    border:2px solid white;
}

.signup input{
    width:420px;
    height:40px;
    font-size:20px;
    padding-left:10px;
    border-radius:2px;
    border:none;
}

.signup p{
    color:white;
    text-align:left;
    margin-top:10px;
}

.signup img{
    width:80px;
}

.signup button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius:3px;
  width:fit-content;
  font-size:20px;
  cursor:pointer;
  margin-top:20px;
}

.signup button:hover{
  transition: all 0.3s ease-out;
  color:black;
  background: white;
  transition: 250ms;
}

.birthdate input{
    width:200px !important;
    height:40px;
    margin-bottom:20px;
    font-size:20px;
    padding-left:10px;
    border-radius:2px;
    border:none;
}

.birthdate{
    display: flex;
    justify-content: space-between;
}

.error{
    color:red;
}